# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.12.0=pypi_0
appdirs=1.4.4=pypi_0
astor=0.8.1=pypi_0
attrs=21.2.0=pypi_0
beautifulsoup4=4.9.3=pyha847dfd_0
blas=1.0=mkl
boto3=1.17.88=pypi_0
botocore=1.20.88=pypi_0
ca-certificates=2021.5.25=haa95532_1
cached-property=1.5.2=pypi_0
cachetools=4.2.2=pypi_0
certifi=2021.5.30=py37haa95532_0
cffi=1.14.5=pypi_0
chardet=3.0.4=pypi_0
click=8.0.1=pypi_0
clickclick=20.10.2=pypi_0
colorama=0.4.4=pypi_0
connexion=2.7.0=pypi_0
cycler=0.10.0=py37_0
cython=0.29.23=pypi_0
datetime=4.3=pypi_0
deprecation=2.1.0=pypi_0
dnspython=1.16.0=py37_0
eikon=1.1.10=pypi_0
filelock=3.0.12=pypi_0
fire=0.4.0=pypi_0
flask=2.0.1=pypi_0
flask-cors=3.0.10=pypi_0
freetype=2.10.4=hd328e21_0
future=0.18.2=pypi_0
gast=0.4.0=pypi_0
google-api-core=1.29.0=pypi_0
google-auth=1.30.1=pypi_0
google-auth-oauthlib=0.4.4=pypi_0
google-cloud-core=1.6.0=pypi_0
google-cloud-storage=1.38.0=pypi_0
google-crc32c=1.1.2=pypi_0
google-resumable-media=1.3.0=pypi_0
googleapis-common-protos=1.53.0=pypi_0
grpcio=1.38.0=pypi_0
h11=0.9.0=pypi_0
h5py=2.9.0=pypi_0
httpcore=0.10.2=pypi_0
httpx=0.14.2=pypi_0
icc_rt=2019.0.0=h0cc432a_1
icu=58.2=ha925a31_3
idna=2.10=pypi_0
importlib-metadata=4.5.0=pypi_0
inflection=0.5.1=pypi_0
intel-openmp=2021.2.0=haa95532_616
isodate=0.6.0=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.1=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.0.1=pyhd3eb1b0_0
jpeg=9b=hb83a4c4_2
jsonschema=3.2.0=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=py37hd77b12b_0
libpng=1.6.37=h2a8f88b_0
libtiff=4.2.0=hd0e1b90_0
lxml=4.6.3=pypi_0
lz4-c=1.9.3=h2bbff1b_0
markdown=3.3.4=pypi_0
markupsafe=2.0.1=pypi_0
matplotlib=3.3.4=py37haa95532_0
matplotlib-base=3.3.4=py37h49ac443_0
mkl=2021.2.0=haa95532_296
mkl-service=2.3.0=py37h2bbff1b_1
mkl_fft=1.3.0=py37h277e83a_2
mkl_random=1.2.1=py37hf11a4ad_2
mock=4.0.3=pypi_0
mpi4py=3.0.3=pypi_0
multitasking=0.0.9=pypi_0
nest-asyncio=1.5.1=pypi_0
numpy=1.19.5=pypi_0
numpy-base=1.20.2=py37hc2deb75_0
oauthlib=3.1.0=pypi_0
olefile=0.46=py_0
openapi-schema-validator=0.1.5=pypi_0
openapi-spec-validator=0.3.1=pypi_0
openpermid=0.5=pypi_0
openssl=1.1.1k=h2bbff1b_0
packaging=20.9=pypi_0
pandas=1.2.4=py37hd77b12b_0
patsy=0.5.1=py37_0
pillow=8.2.0=py37h4fa10fc_0
pip=21.1.1=py37haa95532_0
plotly=4.14.3=pyhd3eb1b0_0
pmdarima=1.8.2=pypi_0
protobuf=3.17.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=pypi_0
pymongo=3.11.4=py37hd77b12b_0
pyparsing=2.4.7=pyhd3eb1b0_0
pyqt=5.9.2=py37h6538335_2
pyrsistent=0.17.3=pypi_0
python=3.7.10=h6244533_0
python-dateutil=2.8.1=pyhd3eb1b0_0
python-twitter=3.5=pypi_0
pytorch-pretrained-bert=0.6.2=pypi_0
pytz=2021.1=pyhd3eb1b0_0
pyyaml=5.4.1=pypi_0
qt=5.9.7=vc14h73c81de_0
regex=2021.4.4=pypi_0
requests=2.25.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
retrying=1.3.3=py_2
rfc3986=1.5.0=pypi_0
rsa=4.7.2=pypi_0
s3transfer=0.4.2=pypi_0
sacremoses=0.0.45=pypi_0
scikit-learn=0.24.2=py37hf11a4ad_1
scipy=1.6.2=py37h66253e8_1
seaborn=0.11.1=pyhd3eb1b0_0
searchtweets=1.7.6=pypi_0
sentencepiece=0.1.95=pypi_0
setuptools=52.0.0=py37haa95532_0
sip=4.19.8=py37h6538335_0
six=1.16.0=pypi_0
sniffio=1.2.0=pypi_0
soupsieve=2.2.1=pyhd3eb1b0_0
sqlite=3.35.4=h2bbff1b_0
statsmodels=0.12.2=py37h2bbff1b_0
swagger-ui-bundle=0.0.8=pypi_0
tensorboard=1.13.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorflow=1.13.1=pypi_0
tensorflow-estimator=1.13.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=2.1.0=pyh5ca1d4c_0
tk=8.6.10=he774522_0
tokenizers=0.7.0=pypi_0
torch=1.8.1=pypi_0
tornado=6.1=py37h2bbff1b_0
tqdm=4.59.0=pyhd3eb1b0_1
transformers=2.9.1=pypi_0
tweet-parser=1.13.2=pypi_0
typing-extensions=3.10.0.0=pypi_0
urllib3=1.26.4=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
websocket-client=0.57.0=pypi_0
werkzeug=2.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wincertstore=0.2=py37_0
xz=5.2.5=h62dcd97_0
yfinance=0.1.59=pypi_0
zipp=3.4.1=pypi_0
zlib=1.2.11=h62dcd97_4
zope-interface=5.4.0=pypi_0
zstd=1.4.5=h04227a9_0
