/* cyrillic-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url(IBM_Plex_Sans/IBMPlexSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: local('IBM Plex Sans Regular'), local('IBMPlexSans-Regular'), url(IBM_Plex_Sans/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format('truetype');
}
